<script lang="ts">
import { onMount } from "svelte";
import IssuesBoard from './components/IssuesBoard.svelte';
import IssueModal from './components/IssueModal.svelte';
import {getIssues} from './api/issues';
import {issuesStore} from './stores/issues';

import { getModalController } from "./components/IssueModal.svelte";

onMount(async () => {
	try {
		issuesStore.changeStatus('loading');
		const issues = await getIssues();
		issuesStore.set('success', issues);
	} catch (err) {
		issuesStore.requestFailed(err);
	}
});

const modalCtrl = getModalController();

let issuesListStore = issuesStore.issues;
</script>

<main>
	{#if $issuesStore.status === 'loading'}
		<h1>LOADING.......</h1>
	{/if}
	{#if $issuesStore.status === 'success'}
		<button on:click={() => modalCtrl.open()}>Create issue</button>
		<IssuesBoard issues={$issuesListStore} />
	{/if}
	<IssueModal />
</main>

<style>
	main {
		height: 100%;
		text-align: center;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>