<script context="module" lang="ts">
import { writable, derived } from "svelte/store";
import { IssueStatus } from "../../../domain/issue/model";
import type { Issue } from "../../../domain/issue/model";
import {getStatusSelectOptions} from "../utils/strings";
import { onMount } from "svelte";

    const {subscribe, set, update} = writable({isOpened: false, mode: null});
    let current = null;
    let form = { title: '', description: '', status: IssueStatus.Open };
    const ctrl = {
        subscribe,
        open(mode = 'new', issue?: Issue) {
            if(mode === "edit") {
                form = {...issue};
                current = issue;
            }
            set({ isOpened: true, mode })
        },
        close() {
            form = { title: '', description: '', status: IssueStatus.Open };
            current = null;
            set({ isOpened: false, mode: null })
        }
    }
    export function getModalController() {
        return ctrl;
    }
</script>
<script lang="ts">
    import { removeIssue, addIssue, updateIssue } from "../api/issues";
    import { issuesStore } from "../stores/issues";

    let isOpened = derived(ctrl, state => state.isOpened);
    let mode = derived(ctrl, state => state.mode);
    let err;

    async function handleAddIssue(e) {
        e.preventDefault();
        if(!(form.title && form.description)) {
            err = "Fill required fields!"
        } else {
            err = null;
        }
        try {
            const new_issue = await addIssue({...form});
            issuesStore.addIssue(new_issue);
            ctrl.close();
        } catch (err) {
            err = err;
        }
    }

    async function handleRemove(e) {
        e.preventDefault();
        try {
            await removeIssue(current.id)
            issuesStore.removeIssue(current.id);
            ctrl.close();
        } catch (err) {
            err = err;
        }
    }
    
    async function handleEdit(e) {
        e.preventDefault();
        const updates = Object.keys(form).reduce((changes, currentKey) => {
            if(form[currentKey] !== current[currentKey]) {
                changes[currentKey] = form[currentKey]
            }
            return changes;
        }, {});

        try {
            if(Object.keys(updates).length > 0) {
                const updatedEntry = await updateIssue(current.id, updates)
                issuesStore.updateIssue(current.id, updatedEntry);
            };

            ctrl.close();
        } catch (err) {
            err = err;
        }
    }
    
    
</script>

{#if $isOpened}
    <div class="modal" id="modal">
        <div class="modal-guts">
            <div class="header">
                {#if $mode === 'edit'}
                    <h4>
                        Edit issue
                    </h4>
                {/if}
                {#if $mode === 'new'}
                    <h4>Add new issue</h4>

                {/if}
                <button on:click={ctrl.close}>X</button>
            </div>
            {#if !!err}
                <div>{err}</div>
            {/if}
            <div class="form">
                <label>
                    <span>Title: </span>
                    <input required type="text" name="title" id="title" bind:value={form.title} />
                </label>
                <label>
                    <span>Description: </span>
                    <textarea required type="text" name="description" id="description" bind:value={form.description} />
                </label>
                <label>
                <span>Status: </span>
                    <select required name="status" id="status" bind:value={form.status}>
                        {#each getStatusSelectOptions() as status}
                            <option disabled={(!!current ? current.status : -1) >= status.value} value={status.value}>{status.label}</option>
                        {/each}
                    </select>
                </label>
                <div class="actions">
                    {#if $mode === 'new'}
                        <span></span>
                        <button type="submit" on:click={handleAddIssue}>Add</button>
                    {/if}
                    {#if $mode === 'edit'}
                        <button on:click={handleRemove}>Delete Issue</button>
                        <button type="submit" on:click={handleEdit}>Save</button>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay" id="modal-overlay" on:click={ctrl.close}/>
{/if}


<style>
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 100%;
  height: 600px;
  max-height: 100%;
  z-index: 1010;
  background: #FFF
}
.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: auto;
  
}
.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0, 0, 0.3);
}
.form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 16px;
}
.form label {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.form .actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
</style>