<script lang="ts">
import type { Issue } from "../../../domain/issue/model";
import { getContext } from "svelte";
import { getModalController } from "./IssueModal.svelte";


    export let issues: Issue[] = [];
    export let header: string = ''
    const modalCtrl = getModalController();
    function handleIssueClick(issue: Issue) {
        modalCtrl.open('edit', issue)
    }
</script>


<div class="column">
    <h2>{header}</h2>
    {#each issues as issue (issue.id)}
        <button on:click={() => handleIssueClick(issue)}>
            <p>{issue.title}</p>
        </button>
    {/each}
</div>


<style>
    .column {
        display: flex;
        flex-direction: column;
        flex: 1;
        border-radius: 6px;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow:  6px 6px 45px #f2f2f2, 
                    -6px -6px 45px #ffffff;
    }
</style>