<script lang="ts">
    import { IssueStatus } from "../../../domain/issue/model";
    import type { Issue } from "../../../domain/issue/model";
    import IssuesColumn from './IssuesBoardColumn.svelte';
    import {getIssueStatusText} from '../utils/strings';

    export let issues: Issue[] = [];

    $: openedIssues = issues.filter(x => x.status === IssueStatus.Open)
    $: pendingIssues = issues.filter(x => x.status === IssueStatus.Pending)
    $: closedIssues = issues.filter(x => x.status === IssueStatus.Closed)
</script>


<div class="board">
    <IssuesColumn header={getIssueStatusText(IssueStatus.Open)} issues={openedIssues} />
    <IssuesColumn header={getIssueStatusText(IssueStatus.Pending)} issues={pendingIssues} />
    <IssuesColumn header={getIssueStatusText(IssueStatus.Closed)} issues={closedIssues} />
</div>


<style>
    .board {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;
        
    }
</style>